<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <head th:replace="fragments/baseHeader :: baseHeader(~{::title},~{})">
        <title>Blog | Add Post</title>
    </head>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="ui container">
    <h1>Add new posts</h1>

    <form th:action="@{/posts/add}"
          th:object="${post}"
          method="post">

        <div class="ui form">
            <div class="field">
                <label>Title</label>
                <input type="text" name="title" th:field="*{title}" placeholder="Title">
            </div>
            <div class="field">
                <label>Body</label>
                <textarea name="body" th:field="*{body}" placeholder="Post body"></textarea>
            </div>
            <button class="ui button" type="submit">Publish</button>
        </div>
    </form>
</div>
</body>
</html>
