<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:replace="fragments/baseHeader :: baseHeader(~{::title},~{})">
        <title>Blog | All Posts</title>
    </head>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>
<div class="ui container">
    <div class="ui link four cards">
        <div th:each="post : ${posts}"
             class="card">
            <div class="image">
                <img src="https://via.placeholder.com/300">
            </div>
            <div class="content">
                <div th:text="${post.title}"
                     class="header"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>